*.tds
*.obj
*.exe
*.class
*.pyc
*.pyd
*.etc
*.zip
.git
.git/*
build
build/*
docs
docs/*
include
include/*
modules
modules/*
os
os/*
server
server/*
srclib
srclib/*
support
support/*
test
test/*
.gdbinit
ABOUT_APACHE
acinclude.m4
Apache.dsw
Apache.ncb
Apache.opt
BuildAll.dsp
BuildBin.dsp
buildconf
CHANGES
config.layout
configure.in
emacs-style
httpd.dep
httpd.dsp
httpd.mak
INSTALL
InstallBin.dsp
LAYOUT
libhttpd.dep
libhttpd.dsp
libhttpd.mak
LICENSE
Makefile.in
Makefile.win
NOTICE
NWGNUmakefile
README
README-win32.txt
README.platforms
ROADMAP
STATUS
VERSIONING
